<!doctype html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!--<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">-->
        <meta name="viewport" content="width=device-width, maximum-scale=2.0" />
        <meta content="yes" name="apple-mobile-web-app-capable"/>
        <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
        <meta content="telephone=no" name="format-detection"/>
        <meta content="email=no" name="format-detection"/>
        <meta property="author" content="codetyphon" />
        <meta name="twitter:site" content="@codetyphon" />
        <title>{{ page.title }}</title>
        <meta name="description" content="宫大师">
        <link rel="shortcut icon" type="image/ico" href="/favicon.ico">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
    <h1><a href="/">{{ page.title }}</a></h1>
    <p class="nav">
      <a href="/">Home</a>
      <a href="/about.html">About</a>
    </p> 
    <div class="item">
　　　　{{ content }}
    </div>
    <div class="footer">
      <p class="footercopyright">© 宫大师 2000-2015 <a href="/">www.gongdashi.com</a>
      </p> 
   </div> 
</body></html>
